body{
    height: 100vh;
    background-color: #bce5f0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #000000;
}

.profile-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-img img{
    border-radius: 50%;
}
h1{
    font-size: 60px;
}
p, a{
    font-size: 22px;
}